asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.6
django-appconf==1.0.3
django-chartit==0.2.9
django-countries==6.1.2
-e git+https://github.com/gbozee/django-paystack.git@cfdf950e9f7fdc10fe6d4118b3a3327a68db68c9#egg=django_paystack
easyimap==0.6.3
future==0.18.2
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.9
IMAPClient==2.1.0
Paperboy==1.0.1
Pillow==7.1.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
requests-async==0.6.2
rfc3986==1.4.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.9
wincertstore==0.2
