{% extends 'authenticate/base.html' %}
{% load static %}
{% block content %}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i> Product</h3>
            </div>
        </div>
        <!-- page start-->


        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="text-right">
                            {% if user.is_general %}
                            <a class="btn" href="{% url 'create_product' %}">New Product</a>
                            {% endif %}
                        </div>
                    </header>

                </section>

                {% for product in products %}
               <div class="card my-3" style="border:1px solid #17a2b8">
                    <article class="itemlist">
                        <div class="row row-sm">
                            <aside class="col-sm-3 ">
                                <div class="img-wrap">
                                    <img src='{{product.image.url}}' alt='{{ product.title }}' class="img-thumbnail "
                                         height="220" width="220">
                                </div>
                            </aside> <!-- col.// -->
                            <div class="col-sm-6">
                                <div class="text-wrap">
                                    <a href="#">
                                        <h3 class="title"> {{ product.title }} </h3>
                                    </a>

                                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit
                                        amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam..Lorem ipsum
                                        dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit
                                        amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam Lorem ipsum
                                        dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit
                                        amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam</p>
                                    <p class="rating-wrap my-0 text-muted">
                                        <span class="label-rating">132 reviews</span>
                                        <span class="label-rating">154 orders </span>
                                    </p> <!-- rating-wrap.// -->
                                </div> <!-- text-wrap.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="border-left pl-3">
                                    <div class="price-wrap">
                                        <div class="text-success"><span class="h3 price"> ₦{{ product.price }} </span></div>
                                        <del class="price-old"> $98</del>
                                    </div> <!-- info-price-detail // -->
                                    <p class="text-danger">{{ product.shipping }}</p>
                                    <p>
                                     {% if user.is_distributor %}
                                    <a class="btn btn-lg btn-info" href="{% url 'add_cart' pk=product.pk %}">Add to Cart</a>
                                     {% else %}
                                     <a class="btn btn-lg btn-info" href="#">View Product</a>
                                     {% endif %}


                                </div> <!-- action-wrap.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- itemlist.// -->

                </div>
                <br>
                {% endfor %}
            </div>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->


{% endblock %}