{% extends 'shopper_base.html' %}
{% load static %}
{% block content %}


<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-users"></i> My Cart</h3>

            </div>
        </div>
        <!-- page start-->


        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">

                    </header>
                </section>

                <div class="text-left">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
                        <h4>Shipping Address/Info</h4>
                    </button>
                </div>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Shipping Address</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="#">
                                        {{ order_form.as_p }}
                                        {{ address_form.as_p }}

                                        <button type="submit" class="btn btn-default">Submit </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </form>

                                </div>

                            </div>

                        </div>
                    </div>


                <br>


                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <td><strong>Item Image</strong></td>
                        <td><strong>Item Name</strong></td>
                        <td class="text-center"><strong>Item Price</strong></td>
                        <td class="text-center"><strong>Item Quantity</strong></td>
                        <td class="text-right"><strong>Total</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ord in orders %}
                    <tr>
                        <td><img src='{{ord.product.image.url}}' alt='{{ product.title }}' class="img-thumbnail" height="220" width="220"></td>
                        <td>{{ord.product.title}}</td>
                        <td class="text-center">{{ord.product.price}}</td>
                        <td class="text-center">{{ord.quantity}} <br><a class="btn btn-info"
                                                                        href="{% url 'edit_cart' pk=ord.pk %}"
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Update Quantity"><i
                                class="icon_plus_alt2"></i></a></td>
                        <td class="text-right">{{ord.get_cost}}</td>
                        <td class="text-right"><br><a class="btn btn-danger" href="{% url 'remove_cart' pk=ord.pk %}"
                                                      data-toggle="tooltip" data-placement="top"
                                                      title="Remove from Cart"><i class="icon_plus_alt2"></i></a></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td class="highrow"></td>
                        <td class="highrow"></td>
                        <td class="highrow text-center"><strong>Subtotal</strong></td>
                        <td class="highrow text-right">$958.00</td>
                    </tr>
                    <tr>
                        <td class="emptyrow"></td>
                        <td class="emptyrow"></td>
                        <td class="emptyrow text-center"><strong><a class="btn btn-success btn-sm" href="#"
                                                      data-toggle="tooltip" data-placement="top"
                                                      title="Select your preferred shipping">Shipping</a></strong></td>
                        <td class="emptyrow text-right">$20</td>
                    </tr>
                    <tr>
                        <td class="emptyrow"></td>
                        <td class="emptyrow"></td>
                        <td class="emptyrow text-center"><strong>Total</strong></td>
                          {% for t in test %}
                        <td class="emptyrow text-right">{{ t.final_price }}</td>
                          {% endfor %}
                    </tr>

                    </tbody>
                </table>
                <div class="text-right">
                    <a class='btn btn-primary' href="{% url 'home' %}">Continue Shopping</a>
                    <a class='btn btn-success' href="#">Proceed to Checkout</a>
                </div>
            </div>

        </div>
        </div>
        <!-- page end-->
    </section>
</section>


{% endblock %}